*{margin: 0;padding: 0};
body,html{padding-bottom: 53px!important;}
#wrap{width: 100%;  background-color: #fff;}
#wrap .header .top-bar{display: flex;justify-content: space-around;width: 100%;height:2.2rem;}
#wrap .header .top-bar .top-logo{width: 44px;height: 44px;}
#wrap .header .top-bar .top-logo img{width: 1.7rem;height: 1.5rem;margin: 7px 0 0 7px;}
#wrap .header .top-bar .aui-searchbar{
  width: 68%;
  background:none;
}
.aui-searchbar .aui-searchbar-btn{
  color: #fff;
  padding: 0;
  font-size: .6rem;
  background-color:  rgb(60, 171, 240);
  border-radius: .6rem;
  font-size: .6rem;
  text-align: center;
}
.aui-text-info{
  text-align: center;color: #fff!important;
  background-color: rgb(60, 171, 240)!important;
  border-radius: .6rem;height: 1rem;
  font-size: .6rem;
}

#wrap .header .top-city{width: 60px;height: 2.2rem;position: relative;}
#wrap .header .top-city select{font-size: .8rem;width:2rem;color: #fff;border: none;}
#wrap .header .top-city select option{
  font-size: .7rem;box-sizing: border-box
  ;padding: .8rem;border: 1px solid #fff;
  background-color:rgb(42,147,211);
}
#wrap .header .top-city i{
  display: inline-block;
  width: .6rem;
  height:.6rem;
  background: url('../images/select-icon.png') no-repeat center;
  background-size: cover;
  position: absolute;
  top: .89rem;
  left: 1.7rem;
}
#wrap .top-bar .aui-searchbar-input{
  border-radius: 1rem;
}
#wrap .header{
  position: relative;
  width: 100%;
  height: 250px;
  background: url('../images/top_banner.png') no-repeat;
  background-size: cover;
  /* border-radius: 0 0 50% 50%; */
}
#wrap .header .ou{
  width: 100%;
  height: 2rem;
  background: url('../images/ou.png') no-repeat center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* #wrap .header::after{
  width: 140%;
  height: 100px;
  position: absolute;
  left: -20%;top:0;
  z-index: -1;
  content: '';
  border-radius: 0 0 50% 50%;
  background:linear-gradient(#2CBAF9,#04A9F4);
} */
#wrap .nav{
  position: relative;
}
/* #wrap .nav::after{
  width: 140%;
  height: 100px;
  position: absolute;
  left: 0;top:0;
  z-index: 1;
  content: '';
  border-radius: 0 0 50% 50%;
  background-color: rgb(184, 100, 100);
  background:linear-gradient(#2CBAF9,#04A9F4);
} */
#wrap .nav .nav-main{
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
#wrap .nav .nav-main a{
  display: inline-block;
  height: 80px;
  text-align: center;
}
#wrap .nav .nav-main a img{
  width: 55px;
  height: 55px;
}
#wrap .nav .nav-main a p{
  margin-top: .3rem;
  font-size: .6rem;
  color: #222;
}
#wrap .nav .nav-table{
  width: 100%;
  height: 126px;
  background-color: #fff;
  border-top: 1px solid #eee8e8;
}
#wrap .nav .nav-table .nav-table-row{
  display: flex;
  justify-content: space-around;
}
#wrap .nav .nav-table .nav-table-row .nav-table-item{
  width: 25%;
  height: 63px;
  border-right: 1px solid #eee8e8;
  border-bottom: 1px solid #eee8e8;
  text-align: center;
}
#wrap .nav .nav-table .nav-table-row .nav-table-item span{
  display: inline-block;
  font-size: .4rem;
  line-height: 63px;
  text-align: center;
  color: #444;
  vertical-align: top;
}
#wrap .nav .nav-table .nav-table-row .nav-table-item i{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 14px 1px 14px 6px;
}
#wrap .nav .nav-table .nav-table-row .nav-jiating i{
  background: url(../images/lv_26.jpg) no-repeat center;
  background-size: cover;
}
#wrap .nav .nav-table .nav-table-row .nav-fuli i{
  background: url(../images/lv_20.jpg) no-repeat center;
  background-size: cover;
}
#wrap .nav .nav-table .nav-table-row .nav-zhoubian i{
  background: url(../images/lv_23.jpg) no-repeat center;
  background-size: cover;
}
#wrap .nav .nav-table .nav-table-row .nav-lvju i{
  background: url(../images/lv_29.jpg) no-repeat center;
  background-size: cover;
}

#wrap .nav .nav-table .nav-table-row .nav-yanxue i{
  background: url(../images/lv_37.jpg) no-repeat center;
  background-size: cover;
}
#wrap .nav .nav-table .nav-table-row .nav-meishi i{
  background: url(../images/lv_39.jpg) no-repeat center;
  background-size: cover;
}
#wrap .nav .nav-table .nav-table-row .nav-meijing i{
  background: url(../images/lv_41.jpg) no-repeat center;
  background-size: cover;
}
#wrap .nav .nav-table .nav-table-row .nav-sirendz i{
  background: url(../images/lv_35.jpg) no-repeat center;
  background-size: cover;
}
/*coupons*/
#wrap .coupons{
  width: 100%;
}
#wrap .coupons a{display: block;}
#wrap .coupons a img{width: 94%;margin: 12px auto;height: 6rem;box-shadow: 0px 6px 6px rgb(102, 100, 100);}

/*travel-place*/
#wrap .travel-place{
  width: 100%;
}
#wrap .travel-place .travel-city{
  height: 180px;
  width: 100%;
}
#wrap .travel-place{padding: 0 .6rem;}
#wrap .travel-place .travel-city .tc-title{display: flex;justify-content: space-between;margin-top: 22px;}
#wrap .travel-place .travel-city .tc-title span{font-size: .7rem;}
#wrap .travel-place .travel-city .tc-title a{color: #222;font-size: .6rem};

#wrap .travel-place .travel-city .tc-slide-wrap{
  width: 100%;
}
#wrap .travel-place .travel-city .tc-slide-wrap .tc-slide{
  width:1000px;height: 155px;
}
#wrap .travel-place .travel-city .tc-slide-wrap .tc-slide .tc-slide-item{
  float: left;
  width: 130px;
  height: 130px;
  margin: 12px 12px 6px 0;
  background-color: lightblue;
  border-radius: 16px;
  position: relative;
}
#wrap .travel-place .travel-city .tc-slide-wrap .tc-slide .tc-slide-item img{
  width: 130px;
  height: 130px;
  border-radius: 16px;
}
#wrap .travel-place .travel-city .tc-slide-wrap .tc-slide .tc-slide-item span{
  color: #fff;
  position: absolute;
  bottom: 4px;
  left: 10px;
}
#aui-slide3 .aui-slide-wrap div{
  width: 160px;
  height: 160px;
  background-color: lightblue;
}


#wrap .travel-place .more-travel{
  height: 200px;
}
#wrap .travel-place .more-travel .more-tab-wrap{
  /* width: 100%;
  height: 180px; */
  position: relative;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item{
  width: 100%;
  height: 180px;
  /* clear: both; */
  /* display: none; */
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  background-color: #fff;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item div{
  width:45%;
  height: 7.4rem;
  float: left;
  margin: .5rem .4rem;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-left span{
  color: #222;
  font-size: .7rem;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-left i{
  display: inline-block;
  width: 1.5rem;
  height: .7rem;
  background: url('../images/wanle.png') no-repeat center;
  background-size: cover;
  margin-left: .2rem;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-left{
  background-color: #fef8f8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-left img{
  border-radius: 4px;
  height: 4.8rem;
  width: 98%;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right{
  padding: 4px;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right p{
  color: #222;
  font-size: .7rem;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right div{
  width: 96%;
  height: 56px;
  margin: 0 2% .4rem 2%;
  padding: 6px;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right .card-1{
  background:url('../images/tab-bg-1.jpg') no-repeat top;
  background-size: cover;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right .card-2{
  background:url('../images/tab-bg-2.jpg') no-repeat top;
  background-size: cover;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right div P{
  color: #222;
  font-size: .65rem;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right div .tejia{
  display: inline-block;
  width: 1.5rem;
  height: .8rem;
  color: #fff;
  font-size: .3rem;
  line-height: .8rem;
  text-align: center;
  border-radius: 2px;
  background-color:red;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right div .price{
  float: right;
  margin-right: .2rem;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right div .price b{
  color: red;
  font-size: .8rem;
  margin-right: 4px;
}
#wrap .travel-place .more-travel .more-tab-wrap .more-tab-item .mt-right div .price{
  font-size: .6rem;
  color: rgb(105, 97, 97);
}

.tab-active{visibility: visible!important;}
/*travel city*/

/*travel list start*/
#wrap .travel-list{width: 100%;margin-top: 30px;}
#wrap .travel-list .tl-item{width: 100%;height: 250px;}
#wrap .travel-list .tl-item .item-img{position: relative;width: 100%;height: 180px;}
#wrap .travel-list .tl-item .item-img img{width: 100%;height: 180px;}
#wrap .travel-list .tl-item .item-desc{display: flex;justify-content: space-around;height: 70px;width: 100%;padding: 10px;}
#wrap .travel-list .tl-item .item-img span{
  display: block;
  height: 1.2rem;
  width: 3.6rem;
  line-height: 1.2rem;
  background-color: #fd5367;
  color: #fff;
  text-align: center;
  font-size: .7rem;
  border-radius: 0 10px 10px 0; 
  position: absolute;
  top: .6rem;
  left: 0;
}
#wrap .travel-list .tl-item .item-desc .item-desc-1{
  display: inline-block;
  width: 4.2rem;
  height: 50px;
  font-size: .7rem;
}
#wrap .travel-list .tl-item .item-desc .item-desc-2{
  display: inline-block;
  width: 9rem;
  font-size: .7rem;
  height: 50px;
}
#wrap .travel-list .tl-item .item-desc .item-desc-3{
  display: inline-block;
  width: 3.4rem;
  line-height: 50px;
  font-size: .6rem;
  color: rgb(105, 97, 97);
}
#wrap .travel-list .tl-item .item-desc .item-desc-3 b{
  color: red;
  font-size: .9rem;
  margin-right: 4px;
}
/*travel list end*/
/*travel sort start*/
#wrap .travel-sort{
  width: 100%; 
  margin-top: 6px;
}
#wrap .travel-sort .ts-tab-wrap{
  width: 100%;
  overflow-x: scroll;
}
#wrap .travel-sort .ts-tab{
  height: 75px;
  width: 600px;
  /* overflow-x: scroll; */
}
#wrap .travel-sort .ts-tab .ts-tab-item{
  width: 75px;
  height: 75px;
  float: left;
}
#wrap .travel-sort .ts-tab .ts-tab-item img{width: 50px;height: 46px;margin: 0 auto;}
#wrap .travel-sort .ts-tab .ts-tab-item p{font-size: .7rem;color: #222;text-align: center;line-height: 1.3rem;}
.tab-p-active{font-weight: 600;}
#wrap .travel-sort .ts-list{
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  column-count: 2;
  column-gap: 0;
  counter-reset: item-counter;
}
 
#wrap .travel-sort .ts-list .ts-list-item{
  break-inside: avoid;
  counter-increment: item-counter;
  width: 90%;
  margin:0 auto 12px auto;
  box-shadow: 0px 2px 8px rgb(230, 215, 215);
  background-color: #fff;
}
#wrap .travel-sort .ts-list .ts-list-item .item-img img{
  width: 100%;
}
#wrap .travel-sort .ts-list .ts-list-item .item-desc{
  padding: 2px 8px 2px 8px;
}
#wrap .travel-sort .ts-list .ts-list-item .item-desc .tit{
  font-size: .7rem;
  line-height: 1.4rem;
}
#wrap .travel-sort .ts-list .ts-list-item .item-desc p{
  font-size: .6rem;
  color: #444;
}
#wrap .travel-sort .ts-list .ts-list-item .item-desc .price{
  display: inline-block;
  width: 100%;
  height: 22px;
  font-size: .6rem;
  color: #444;
  text-align: right;
  padding-right: .4rem;
}
#wrap .travel-sort .ts-list .ts-list-item .item-desc .price i{
  display: inline-block;
  height: 14px;
  width: 50px;
  font-size: .2rem;
  font-style: normal;
  background-color: rgb(255,188,186);
  color: #e60a24;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  margin-bottom: 8px;
}
#wrap .travel-sort .ts-list .ts-list-item .item-desc .price b{
  font-size: .9rem;
  color: red;
  margin-right: 4px;
}
/*travel sort end*/










/*footer*/
#wrap .aui-bar-tab{
  background-color: rgb(42,147,211);
  color: #fff;
}
#wrap .aui-bar-tab .aui-active {
  color: #fff;
}
#wrap .aui-bar-tab .aui-bar-tab-item .home-icon{
  display:block;
  width: 22px;
  height: 22px;
  background:url('../images/home-icon.png') no-repeat center;
  background-size: 120%;
  margin: 2px auto;
  /* content: "\e6e0"; */
}
#wrap .aui-bar-tab .aui-bar-tab-item .dingzhi-icon{
  display:block;
  width: 22px;
  height: 22px;
  background:url('../images/dingzhi2.png') no-repeat center;
  background-size: 120%;
  margin: 2px auto;
  /* content: "\e6e0"; */
}
#wrap .aui-bar-tab .aui-bar-tab-item .kefu-icon{
  display:block;
  width: 22px;
  height: 22px;
  background:url('../images/kefu.png') no-repeat center;
  background-size: 120%;
  margin: 2px auto;
  /* content: "\e6e0"; */
}
#wrap .aui-bar-tab .aui-bar-tab-item .gonglue-icon{
  display:block;
  width: 22px;
  height: 22px;
  background:url('../images/gonglue.png') no-repeat center;
  background-size: 120%;
  margin: 2px auto;
  /* content: "\e6e0"; */
}
#wrap .chat-bar{
  width: 1.6rem;
  height: 3rem;
  background-color:rgb(42,147,211);
  position: fixed;
  right: 0;
  bottom: 50%;
  margin-bottom: -1rem;
  border-radius: .2rem 0 0 .2rem;
  box-sizing: content-box;
  padding: .1rem;
}
#wrap .chat-bar i{
  display: block;
  margin: 0 auto;
  width: 1.4rem;
  height: 1.6rem;
  background: url('../images/zixun.png') no-repeat center;
  background-size: cover; 
  margin-top: .3rem;
}
#wrap .chat-bar p{
  color: #fff;
  font-size: .6rem;
  text-align: center;
  line-height: 1.2rem;
}
#wrap .chat-content{
  position: fixed;
  right: 50%;
  margin-right: -7.6rem;
  bottom: 50%;
  margin-bottom: -10rem;
  width: 16rem;
  height: 22rem;
  background-color: #fff;
  display: none;
  border-radius: 8px;
  box-shadow: 1px 4px 8px rgb(94, 93, 93);
}
#wrap .chat-content .cc-menu{
  width: 20%;
  height: 20rem;
  overflow-y: scroll;
  float: left;
  border-radius:  0 0 0 8px;
}
#wrap .chat-content .cc-title{
  height: 2rem;
  width: 100%;
  background-color:#03a9f4;
  border-radius: 8px 8px 0 0;

}
#wrap .chat-content .cc-title p{
  line-height: 2rem;
  text-align: center;
  color: #fff;
  font-size: .8rem;
}
#wrap .chat-content .cc-menu span{
  display: block;
  height: 1.8rem;
  width: 100%;
  text-align: center;
  line-height: 1.8rem;
  background-color: #fff;
  border-right: 1px solid #f7f0f0;
  border-bottom: 1px solid #f7f0f0;
  font-size: .7rem;
}
.menu-tab-active{
  color:#ff6900;
  border-left: 2px solid #ff6900;
  border-right: none!important;
}
#wrap .chat-content .cc-cont{
  float: left;
  width: 80%;
  height: 20rem;
  position: relative;
  overflow-y: scroll;
}
#wrap .chat-content .cc-cont .cont-item{
  width: 100%;
  height: 22rem;
  position: absolute;
  display: none;
  padding-left: .2rem;
}
#wrap .chat-content .cc-cont .cont-item .item-inner{
  width: 100%;
}
#wrap .chat-content .cc-cont .cont-item .item-inner .ii-tit{
  width: 100%;
  height:1rem;
  /* border-left: 3px solid #ff6900; */
  margin-top: .6rem;
}
#wrap .chat-content .cc-cont .cont-item .item-inner .ii-tit p{
  color: rgb(105, 103, 103);
  line-height: 1rem;
  text-align: left;
  font-weight: 600;
  font-size: .6rem;
  padding-left: .4rem;
}
#wrap .chat-content .cc-cont .cont-item .item-inner .ii-content{
  display: flex;
  flex-wrap: wrap;
}
#wrap .chat-content .cc-cont .cont-item .item-inner .ii-content .ii-city{
  padding: .2rem;
  margin: .2rem;
  position: relative;
  box-shadow: 0 2px 2px 0px rgb(228, 227, 227);
}
#wrap .chat-content .cc-cont .cont-item .item-inner .ii-content .ii-city img{
  width: 5.4rem;
  height: 3.8rem;
}
#wrap .chat-content .cc-cont .cont-item .item-inner .ii-content .ii-city p{
  text-align: center;
  font-size: .6rem;
  line-height: 1.3rem;
  color: #222;
}
#wrap .chat-content .cc-cont .cont-item .item-inner .ii-content .ii-city span{
  text-align: center;
  font-size: .6rem;
  line-height: 1.3rem;
  color: #fff;
  background-color: rgba(0, 0,0, .4);
  display: block;
  height: 1.1rem;
  width: 2.4rem;
  position: absolute;
  top: .2rem;
  left:.2rem;
}